@import 'src/assets/sass/libs/vars';
@import 'src/assets/sass/libs/functions';
@import 'src/assets/sass/libs/mixins';
@import 'src/assets/sass/libs/skel';

::-webkit-scrollbar-thumb {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #ddd;
  min-height: 40px;
}

::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  width: 8px;
}

body.landing {
  background-attachment: scroll, scroll, fixed !important;
}

a {
  color: _palette(accent1, fg) !important;
}

ul {
  margin: 0;
}

.wrapper.style1 button.special,
.wrapper.style1 .button.special {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.15);
  color: #fff !important;

  &:hover {
    background-color: rgba(255, 255, 255, 0.075);
  }
}

#header {
  padding: 1em 1.5em;

  a {
    color: inherit;
    font-size: 0.75em;
    font-weight: 400;
    letter-spacing: 0.13em;
    height: 3em;
    line-height: 3em;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 2em;
  }

  .drop-container {
    position: relative;

    &:hover {
      .port-dropdown {
        display: block;
      }
    }

    .port-dropdown {
      display: none;
      width: 200px;
      position: absolute;
      margin: 0;
      padding: 20px;
      list-style: none;
      background: orange;
      top: 40px;
      right: 0;

      li {
        position: initial;
        padding: 0;
      }
    }
  }
  
  &:not(.alt) {
    .big-logo {
      margin-right: auto;
      display: flex;
      align-items: center;
      width: 150px;
      
      img {
        max-width: 100%;
      }
    }
    .logo {
      display: none;
    }
  }
  &.alt {
    padding: .5em 1em;
    
    .big-logo {
      display: none;
    }
    .logo {
      margin-right: auto;
      display: flex;
      align-items: center;
    }
  }
  > a.menu {
    font-weight: 900;
    margin-right: 0;
    padding-left: 0;
    width: 3em;
    height: 3em;
    text-align: center;
    font-size: 16px;
  }
}

#banner {
  padding: 3em 2em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .iso {
    display: block;
    margin-bottom: 1em;
    width: 100%;
  }

  header {
    margin-bottom: 1.5em;
  }

  .actions {
    margin: 0;
  }
}

.split {
  border-top: 2px solid _palette(null, border-bg);

  article {
    .icon {
      font-size: 2.5em;
    }
  }
}

.spotlights {
  display: grid;
  grid: auto-flow / 1fr 1fr;
  grid-gap: 0.2em;
  margin-bottom: .2em;
  
  section {
    overflow: hidden;
    width: auto;
    padding: 0 !important;
    border: 0 !important;
    
    .image {
      display: block;
      margin: 0;
      
      img {
        border-radius: 0;
        max-width: 100%;
        transform: scale(1);
        transition: transform .3s ease;  
      }
    }

    .content {
      position: absolute;
      bottom: 0;
      padding: 2em;
      height: 0;
      background: rgba(0,0,0,.8);
      visibility: hidden;
      opacity: 0;
      transition: all .2s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h4 {
        position: initial;
        opacity: 0;
      }
      
      p {
        position: initial;
        opacity: 0;
        font-size: 14px;
      }
    }

    &:hover {
      .image {
        img {
          transform: scale(1.2);
        }
      }
      
      .content {
        height: 100%;
        visibility: visible;
        opacity: 1;

        h4 {
          animation-name: aparecer;
          animation-duration: .2s;
          animation-delay: .1s;
          animation-fill-mode: forwards;
        }
        p {
          animation-name: aparecer;
          animation-duration: .2s;
          animation-delay: .2s;
          animation-fill-mode: forwards;
        }
      }
    }
  }
}

.features > section {
  .icon {
    margin-bottom: 1.5em;
  }
}

#footer {
  .copyright {
    color: #333;
  }

  .alt-icons {
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

#menu {
  right: -20em;
  left: auto;
  transform: initial;
  transition: right .5s ease, box-shadow .5s ease, visibility .5s;

  &.visible {
    right: 0;
  }
}

.desktop {
  display: block;
}

.mobile {
  display: none !important;
}

#menu {
  .close {
    font-weight: 900;
  }
}

$xlarge: 'max-width: 1680px';
$large: 'max-width: 1280px';
$medium: 'max-width: 980px';
$small: 'max-width: 736px';
$xsmall: 'max-width: 480px';

@media ($small) {
  .desktop {
    display: none !important;
  }
  
  .mobile {
    display: initial !important;
  }
  
  #header {
    padding: 1em;
    
    &:not(.alt) {
      .big-logo {
        width: 100px;
        
        img {
          max-width: 100%;
        }
      }
    }

    &.alt {
      padding: .5em;
    }
  }

  #banner {
    .iso {
      img {
        width: 100px;
      }
    }

    h1 {
      font-size: 1.5em;
    }

    h3 {
      font-size: 1.3em;
    }

    h4 {
      font-size: .8em;
    }
  }

  .features > section {
    .icon {
      margin-bottom: 1em;
    }
  }

  .spotlights {
    display: flex;
    margin-bottom: .2em;

    section {
      margin-bottom: .2em;
    }
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}